flow/references/templates/modbus-tcp-read.json
[
  {
    "id": "tab_{{FLOW_ID}}",
    "type": "tab",
    "label": "{{FLOW_NAME}}",
    "disabled": false,
    "info": "Modbus TCP read → function → MQTT/UNS. Generated by Tier0 CLI template."
  },
  {
    "id": "modbus_client_{{FLOW_ID}}",
    "type": "modbus-client",
    "name": "{{DEVICE_NAME}}",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "queueLogEnabled": false,
    "failureLogEnabled": true,
    "tcpHost": "{{MODBUS_HOST}}",
    "tcpPort": {{MODBUS_PORT}},
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": 9600,
    "serialDatabits": 8,
    "serialStopbits": 1,
    "serialParity": "none",
    "serialConnectionDelay": 100,
    "serialAsciiResponseStartDelimiter": "0x3A",
    "unit_id": {{UNIT_ID}},
    "commandDelay": 1,
    "clientTimeout": 1000,
    "reconnectOnTimeout": true,
    "reconnectTimeout": 2000,
    "parallelUnitIdsAllowed": true,
    "showErrors": false,
    "showWarnings": true,
    "showLogs": true
  },
  {
    "id": "modbus_read_{{FLOW_ID}}",
    "type": "modbus-read",
    "z": "tab_{{FLOW_ID}}",
    "name": "{{READ_NODE_NAME}}",
    "topic": "",
    "showStatusActivities": false,
    "logIOActivities": false,
    "showErrors": false,
    "showWarnings": true,
    "unitid": "",
    "dataType": "{{DATA_TYPE}}",
    "adr": "{{START_ADDRESS}}",
    "quantity": "{{QUANTITY}}",
    "rate": "{{POLL_RATE}}",
    "rateUnit": "{{POLL_RATE_UNIT}}",
    "delayOnStart": false,
    "startDelayTime": "",
    "server": "modbus_client_{{FLOW_ID}}",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "emptyMsgOnFail": false,
    "x": 200,
    "y": 160,
    "wires": [
      ["function_{{FLOW_ID}}"],
      []
    ]
  },
  {
    "id": "function_{{FLOW_ID}}",
    "type": "function",
    "z": "tab_{{FLOW_ID}}",
    "name": "Map to UNS payload",
    "func": "// msg.payload is the Modbus response object:\n//   msg.payload.data  — array of register/coil values\n//   msg.payload.buffer — raw Buffer\n//\n// Build the UNS write body: {writes:[{topic, value}]}\n// value must be an object matching the topic's field definitions.\n//\n// Example: map register 0..N to named fields\nvar registers = msg.payload.data;\nvar writes = [];\n\n// TODO: replace field names and indices to match your UNS topic schema\n// e.g. writes.push({ topic: \"{{UNS_TOPIC}}\", value: { temperature: registers[0] * 0.1 } });\n{{FUNCTION_BODY}}\n\nmsg.payload = JSON.stringify({ writes: writes });\nmsg.topic = \"{{UNS_TOPIC}}\";\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 160,
    "wires": [
      ["mqtt_out_{{FLOW_ID}}"]
    ]
  },
  {
    "id": "mqtt_broker_{{FLOW_ID}}",
    "type": "mqtt-broker",
    "name": "Tier0 MQTT",
    "broker": "{{MQTT_HOST}}",
    "port": "{{MQTT_PORT}}",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "mqtt_out_{{FLOW_ID}}",
    "type": "mqtt out",
    "z": "tab_{{FLOW_ID}}",
    "name": "Publish to UNS",
    "topic": "{{UNS_TOPIC}}",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt_broker_{{FLOW_ID}}",
    "x": 660,
    "y": 160,
    "wires": []
  },
  {
    "id": "modbus_response_{{FLOW_ID}}",
    "type": "modbus-response",
    "z": "tab_{{FLOW_ID}}",
    "name": "",
    "registerShowMax": 20,
    "x": 420,
    "y": 260,
    "wires": []
  }
]
