flow/references/templates/postgresql-uns-archive.json
[
  {
    "id": "tab_{{FLOW_ID}}",
    "type": "tab",
    "label": "{{FLOW_NAME}}",
    "disabled": false,
    "info": "UNS MQTT subscribe → function → PostgreSQL INSERT. Generated by Tier0 CLI template."
  },
  {
    "id": "pg_config_{{FLOW_ID}}",
    "type": "postgreSQLConfig",
    "name": "{{PG_NAME}}",
    "host": "{{PG_HOST}}",
    "hostFieldType": "str",
    "port": {{PG_PORT}},
    "portFieldType": "num",
    "database": "{{PG_DATABASE}}",
    "databaseFieldType": "str",
    "ssl": false,
    "sslFieldType": "bool",
    "applicationName": "tier0-eventflow",
    "applicationNameType": "str",
    "max": 10,
    "maxFieldType": "num",
    "idle": 1000,
    "idleFieldType": "num",
    "connectionTimeout": 10000,
    "connectionTimeoutFieldType": "num",
    "user": "{{PG_USER}}",
    "userFieldType": "str",
    "password": "{{PG_PASSWORD}}",
    "passwordFieldType": "str"
  },
  {
    "id": "mqtt_broker_{{FLOW_ID}}",
    "type": "mqtt-broker",
    "name": "Tier0 MQTT",
    "broker": "{{MQTT_HOST}}",
    "port": "{{MQTT_PORT}}",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "mqtt_in_{{FLOW_ID}}",
    "type": "mqtt in",
    "z": "tab_{{FLOW_ID}}",
    "name": "Subscribe UNS",
    "topic": "{{UNS_TOPIC}}",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt_broker_{{FLOW_ID}}",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 180,
    "y": 160,
    "wires": [
      ["function_{{FLOW_ID}}"]
    ]
  },
  {
    "id": "function_{{FLOW_ID}}",
    "type": "function",
    "z": "tab_{{FLOW_ID}}",
    "name": "Build INSERT",
    "func": "// msg.payload is the UNS message, e.g.:\n//   { value: { temperature: 27.5, unit: '°C' }, quality: 'Good', timeStamp: 1733382000000 }\n//\n// Build a parameterised PostgreSQL INSERT.\n// $1, $2, ... are positional parameters passed in msg.payload as an array.\n//\n// TODO: replace table name and column mapping to match your schema.\n{{FUNCTION_BODY}}\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 160,
    "wires": [
      ["pg_query_{{FLOW_ID}}"]
    ]
  },
  {
    "id": "pg_query_{{FLOW_ID}}",
    "type": "postgresql",
    "z": "tab_{{FLOW_ID}}",
    "name": "INSERT",
    "query": "{{PG_QUERY}}",
    "postgreSQLConfig": "pg_config_{{FLOW_ID}}",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 620,
    "y": 160,
    "wires": [
      ["debug_{{FLOW_ID}}"]
    ]
  },
  {
    "id": "debug_{{FLOW_ID}}",
    "type": "debug",
    "z": "tab_{{FLOW_ID}}",
    "name": "PG result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 820,
    "y": 160,
    "wires": []
  }
]
