flow/references/protocols/templates/http-poller.json
[
  {
    "id": "tab_{{FLOW_ID}}",
    "type": "tab",
    "label": "{{FLOW_NAME}}",
    "disabled": false,
    "info": "Periodic HTTP REST API polling → function → MQTT/UNS. Generated by Tier0 CLI template."
  },
  {
    "id": "mqtt_broker_{{FLOW_ID}}",
    "type": "mqtt-broker",
    "name": "Tier0 MQTT",
    "broker": "{{MQTT_HOST}}",
    "port": "{{MQTT_PORT}}",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "inject_{{FLOW_ID}}",
    "type": "inject",
    "z": "tab_{{FLOW_ID}}",
    "name": "Poll every {{POLL_INTERVAL_S}}s",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "{{POLL_INTERVAL_S}}",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 160,
    "wires": [
      ["http_request_{{FLOW_ID}}"]
    ]
  },
  {
    "id": "http_request_{{FLOW_ID}}",
    "type": "http request",
    "z": "tab_{{FLOW_ID}}",
    "name": "{{API_NAME}}",
    "method": "{{API_METHOD}}",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "{{API_URL}}",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 380,
    "y": 160,
    "wires": [
      ["function_{{FLOW_ID}}"]
    ]
  },
  {
    "id": "function_{{FLOW_ID}}",
    "type": "function",
    "z": "tab_{{FLOW_ID}}",
    "name": "Map to UNS payload",
    "func": "// msg.payload: API response JSON (auto-parsed because ret='obj')\n// msg.statusCode: HTTP status code\n//\n// 1. Check for errors\nif (msg.statusCode !== 200) {\n    node.warn('API error: ' + msg.statusCode + ' ' + JSON.stringify(msg.payload));\n    return null;\n}\n\n// 2. Map API response → UNS writes\n// TODO: replace with actual field mapping based on API response structure\n// and UNS topic schema (check with: tier0 uns browse --path \"<parent>\")\nvar writes = [];\n{{FUNCTION_BODY}}\n\nmsg.payload = JSON.stringify({ writes: writes });\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 160,
    "wires": [
      ["mqtt_out_{{FLOW_ID}}", "debug_{{FLOW_ID}}"]
    ]
  },
  {
    "id": "mqtt_out_{{FLOW_ID}}",
    "type": "mqtt out",
    "z": "tab_{{FLOW_ID}}",
    "name": "Publish to UNS",
    "topic": "{{UNS_TOPIC}}",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt_broker_{{FLOW_ID}}",
    "x": 790,
    "y": 140,
    "wires": []
  },
  {
    "id": "debug_{{FLOW_ID}}",
    "type": "debug",
    "z": "tab_{{FLOW_ID}}",
    "name": "UNS payload",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 790,
    "y": 200,
    "wires": []
  }
]
