flow/references/protocols/templates/opcua-subscribe.json
[
  {
    "id": "tab-opcua-collect",
    "type": "tab",
    "label": "OPC-UA 采集示例",
    "disabled": false,
    "info": "OPC-UA 多标签订阅，变更自动推送到 Tier0 UNS。\n\n修改 cfg-opcua-ep.endpoint 为实际服务器地址，\n修改 fn-build-items 的 nodeId 列表，\n修改 fn-to-uns 的 topicMap 映射。"
  },
  {
    "id": "cfg-opcua-ep",
    "type": "OpcUa-Endpoint",
    "endpoint": "opc.tcp://192.168.1.200:4840",
    "secpol": "None",
    "secmode": "None",
    "none": true,
    "login": false,
    "usercert": false,
    "name": "Line1 OPC-UA Server"
  },
  {
    "id": "cfg-mqtt-tier0",
    "type": "mqtt-broker",
    "name": "Tier0 MQTT",
    "broker": "localhost",
    "port": 1883,
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "keepalive": 60,
    "cleansession": true
  },
  {
    "id": "inject-start",
    "type": "inject",
    "z": "tab-opcua-collect",
    "name": "启动订阅（部署后自动触发一次）",
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 200,
    "y": 120,
    "wires": [["fn-build-items"]]
  },
  {
    "id": "fn-build-items",
    "type": "function",
    "z": "tab-opcua-collect",
    "name": "订阅标签列表",
    "func": "// 多标签订阅：构造 nodeId 数组，修改为实际 OPC-UA 节点 ID\nmsg.topic = \"multiple\";\nmsg.payload = [\n  { nodeId: \"ns=2;s=Temperature\" },\n  { nodeId: \"ns=2;s=Humidity\" },\n  { nodeId: \"ns=2;s=ProductionCount\" }\n];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 460,
    "y": 120,
    "wires": [["opcua-client-sub"]]
  },
  {
    "id": "opcua-client-sub",
    "type": "OpcUa-Client",
    "z": "tab-opcua-collect",
    "endpoint": "cfg-opcua-ep",
    "action": "subscribe",
    "deadbandtype": "a",
    "deadbandvalue": 0,
    "time": 1,
    "timeUnit": "s",
    "certificate": "n",
    "localfile": "",
    "localkeyfile": "",
    "securitymode": "None",
    "securitypolicy": "None",
    "useTransport": false,
    "maxChunkCount": 1,
    "maxMessageSize": 65536,
    "receiveBufferSize": 65536,
    "sendBufferSize": 65536,
    "setstatusandtime": false,
    "keepsessionalive": true,
    "name": "OPC-UA 订阅",
    "applicationName": "",
    "applicationUri": "",
    "x": 700,
    "y": 120,
    "wires": [
      ["fn-to-uns"],
      ["debug-status"]
    ]
  },
  {
    "id": "fn-to-uns",
    "type": "function",
    "z": "tab-opcua-collect",
    "name": "OPC-UA → UNS 映射",
    "func": "// wire[0] 收到订阅变更数据\nvar dv = msg.payload;\n\n// 提取实际值\nvar rawValue = (dv && dv.value) ? dv.value.value : null;\nif (rawValue === null || rawValue === undefined) return null;\n\n// 质量：statusCode.value === 0 为 Good\nvar quality = (dv.statusCode && dv.statusCode.value === 0) ? \"Good\" : \"Bad\";\nif (quality !== \"Good\") return null;  // Bad 质量丢弃，按需改为告警\n\n// nodeId → UNS topic 路径 + 字段名映射表\n// 修改为实际的 nodeId 和 UNS 路径\nvar topicMap = {\n  \"ns=2;s=Temperature\":     { topic: \"Plant/Line1/Metric/Temperature\",    field: \"temperature\" },\n  \"ns=2;s=Humidity\":        { topic: \"Plant/Line1/Metric/Humidity\",        field: \"humidity\" },\n  \"ns=2;s=ProductionCount\": { topic: \"Plant/Line1/Metric/ProductionCount\", field: \"value\" }\n};\n\nvar mapping = topicMap[msg.topic];\nif (!mapping) return null;  // 未映射的标签忽略\n\nmsg.topic   = mapping.topic;\nmsg.payload = JSON.stringify({ [mapping.field]: rawValue });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 940,
    "y": 80,
    "wires": [["mqtt-out-uns"]]
  },
  {
    "id": "debug-status",
    "type": "debug",
    "z": "tab-opcua-collect",
    "name": "OPC-UA 连接状态",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 960,
    "y": 160,
    "wires": []
  },
  {
    "id": "mqtt-out-uns",
    "type": "mqtt out",
    "z": "tab-opcua-collect",
    "name": "发布到 UNS",
    "topic": "",
    "qos": "0",
    "retain": false,
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "cfg-mqtt-tier0",
    "x": 1180,
    "y": 80,
    "wires": []
  },
  {
    "id": "comment-1",
    "type": "comment",
    "z": "tab-opcua-collect",
    "name": "OPC-UA 多标签订阅 → Tier0 UNS",
    "info": "## 架构\ninject(once) → fn(标签列表) → OpcUa-Client(subscribe) → fn(映射UNS) → mqtt out\n\n## 修改说明\n1. cfg-opcua-ep: 修改 endpoint 为实际 OPC-UA 服务器地址\n2. fn-build-items: 修改 nodeId 列表为实际订阅的标签\n3. fn-to-uns: 修改 topicMap 为实际的 nodeId → UNS路径+字段名映射\n4. cfg-mqtt-tier0: 修改 broker/port 为 Tier0 实际 MQTT 地址\n\n## 输出格式\nMQTT topic = UNS 路径（如 Plant/Line1/Metric/Temperature）\nMQTT payload = JSON 字符串（如 {\"temperature\": 27.5}）",
    "x": 200,
    "y": 40,
    "wires": []
  }
]
